font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
    src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-display: swap;
}

body {
    min-width: 800px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hidden {
    display: none;
}

.page__container {
    max-width: 1366px;
    margin: 0 auto;
    background-color: #ffffff;
}
  

.filters {
    min-height: 64px;
    background-color: #2196f3;
    box-shadow: 0 5px 5px #b1b1b1;
}

.filters__nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 0px;
}

.filters__button {
    min-width: 100px;
    max-width: 240px;
    min-height: 64px;
    background-color: #2196f3;
    border: none;
    opacity: 70%;
    
    &:hover {
        background-color: #1e88e5;
        opacity: 70%;
    }

    &:active {
        background-color: #2196f3;
        opacity: 100%; 
    }
}

.filters__button span {
    font-size: 10px;
}

.filters__button--active {
    background-color: #1e88e5;
    opacity: 100%;
    cursor: default;
}

.breed__filters {
    align-self: center;
}

.breed__filters-title {
    color: #ffffff;
    opacity: 70%;
}

.dog_breed_selector, .cat_breed_selector {
    width: 200px;
    height: 20px;
    font-size: 11px;
    color: #025298;
    border: 2px solid #025298;
    border-radius: 4px;
}

.maincontent {
    width: 100%;
    padding: 30px 30px 30px 40px;
  }
  
.col{
    width: 225px;
    height: 225px;
    padding: 0;
    overflow: hidden;
    position: relative;

    &:hover {
        cursor: pointer;
        transform: scale(103%);
        box-shadow: 0 0 9px #666666;
        transition: all ease-in-out 0.25s;
        .favorite {
            display: block;
        }
    }
}

.favorite {
    position: absolute;
    bottom: 19px;
    right: 19px;
    display: none;
    
}
    
/*Изображения обрезаются и центрируются в поле col-lg с центрированием до 1000% (если 100%, если оно в 3 раза больше, оно не центрируется полностью)*/
.photo {
    display:block;
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    height: 225px;
    width: 225px;
    padding: 0;
    object-fit: cover;
}

.favorite {
    &:hover {
        z-index: 1;
    }
}

.imgrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    width: 95%;
    height: 490px;
    margin-bottom: 20px;
    overflow: auto;
    scroll-behavior: smooth;
}

.more {
    width: 94%;
}

.more__button {
    display: block;
    min-width: 200px;
    height: 21px;
    margin: 0 auto;
    padding: 0;
    font-weight: 700;
    color: #2196f3;
    background-color: #ffffff;
    border: none;
    
    &:hover {
        color: #025298;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  
    width: 100%;
    height: 100%;
    padding-top: 60px;
    overflow: auto;
  
    background-color: rgba(0, 0, 0, 0.95);
  }

  .modal-open {
    height: 100vh;
    overflow: auto;
  }

  .big-picture__preview {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 1000px;
    height: 600px;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .big-picture__img img {
    display: block;
    max-width: 1000px;
    max-height: 600px;
    object-fit: cover;
  }

  .big-picture__cancel, .big-picture__download {
    background-color: #2196f3;
    opacity: 70%;
  }
