@import "./variables.scss";

:root {
  --bg-primary: #{$bg-primary};
  --bg-secondary: #{$bg-secondary};

  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};

  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};

  --border-primary: #{$border-primary};
  --border-secondary: #{$border-secondary};

  --color-blue: #{$color-blue};
  --color-lightblue: #{$color-lightblue};
  --color-lightblue-active: #{$color-lightblue-active};
  --color-white: #{$color-white};
}

.dark {
  --bg-primary: #{$bg-primary-dark};
  --bg-secondary: #{$bg-secondary-dark};

  --color-primary: #{$color-primary-dark};
  --color-secondary: #{$color-secondary-dark};

  --text-primary: #{$text-primary-dark};
  --text-secondary: #{$text-secondary-dark};

  --border-primary: #{$border-primary-dark};
  --border-secondary: #{$border-secondary-dark};
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto";
  color: var(--text-primary);
}

#root {
  background-color: var(--bg-primary);
}

input,
button {
  all: unset;
}
