// "fixed left-0 top-0 right-0 bottom-0 flex justify-center items-center bg-slate-100"
.Wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
