.header {
  
  background-color: #2196F3;
  display: flex;
  align-items: center;
  @media (max-width: $tablet) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.header__nav a {
  display: inline-block;
  padding: 20px;

}
