.header {
  padding-left: 62px;
  padding-right: 62px;
  background-color: #2196F3;
  display: flex;
  align-items: center;
  @media (max-width: $tablet) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.header__nav a {
  display: inline-block;
  padding: 24px;


}
.header-item--active {
  background-color: #1e88e5;
}
