.wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 60px) minmax(320px, 1280px) minmax(auto, 60px);
  grid-template-rows: 64px 1fr auto;
  min-height: 100vh;
  grid-template-areas:
   "header header header"
   ". main ."
   "footer footer footer"
}
.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

@media (max-width: 765px) {
  .wrapper {
    grid-template-columns: minmax(320px, 765px);
    grid-template-areas:
     "header"
     "main"
     "footer"
  }



}
