.wrapper {
  width: 100vw;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  padding-top: 48px;
  padding-left: 62px;
  padding-right: 62px;

  overflow-x: hidden;
}

@media (max-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 760px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 530px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
