.page {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #FFFFFF;
  color: #FFFFFF;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}