.itemBlock {
    width: 225px;
    height: 225px;
    padding: 15px 19px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transform: scale(1);
    transition: 0.3s;
    margin: 0 15px 30px;
}

.itemBlock:hover {
    transform: scale(1.14);
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24),
    0px 9px 18px rgba(0, 0, 0, 0.18);
}

.itemBlock:hover .heart {
    display: block;
}

.heart {
    cursor: pointer;
    display: none;
    background-color: transparent;
    border: none;
    width: 40px;
}

.heartImg * {
    stroke: #F24E1E;
}

.heartImg:hover * {
    fill: #F24E1E;
    stroke: #F24E1E;
}

.heartImg:active * {
    fill: #FF3A00;
    stroke: #FF3A00;
}

.liked * {
    fill: #c22d00;
    stroke: #c22d00;
}
