.item {
  position: relative;
  margin: 0 auto;
  max-width: 225px;
  max-height: 225px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.18);
    -webkit-transform: scale(1.13);
    transform: scale(1.13);
  }
  &-img {
    width: 225px;
    height: 225px;
  }
  &-overlay {
    position: absolute;
    top: 170px;
    right: 52px;
    opacity: 0;
    transition: .3s ease;
  }
  &-icon {
    position: absolute;
    width: 40px;
    height: 36.7px;
    color: #F24E1E;
    cursor: pointer;
  }
}

.icon-active {
  position: absolute;
  width: 40px;
  height: 36.7px;
  color: #FF3A00;
  cursor: pointer;
}

.item:hover .item-overlay {
  opacity: 1;
}

.icons:hover .item-icon,
.icons .item-icon__hover {
  display: none;
}
.icons:hover .item-icon__hover {
  display: inline;
}
