$font-size: 16;
$font-family: "Roboto", sans-serif;

$primary-color: #2196f3;
$primary-color-hover: #1e88e5;
$favorite-color: #f24e1e;
$white-color: #fff;

$tablet: 992;
$tablet-mini: 768;
$mobile: 576;
$mobile-mini: 420;
