@import '../../../../scss/settings/vars';

.image {
  position: relative;
  overflow: hidden;  
  width: 100%;
  aspect-ratio: 10/6;
  
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
