.header {
  width: 100vw;
  padding-left: 60px;

  display: flex;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
}

.headerLink {
  padding: 23px;

  font-size: 14px;
  line-height: 21px;

  text-decoration: none;
  color: #fff;
}

.headerLink:hover {
  background: #1e88e5;
}

@media (max-width: 760px) {
  .header {
    padding-left: 0;
    justify-content: center;
  }
}

@media (max-width: 530px) {
  .header {
    padding-left: 0;
    justify-content: center;
  }
}
