@import '../../scss/settings/vars';

.button {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  color: currentColor;
  z-index: 1;

  @media (min-width: $breakpoint_md) {
    margin-left: 30px;
  }

  @media (min-width: $breakpoint_lg) {
    height: 40px; //!!
  }
}