@import "@/app/variables.scss";

.Card {
  position: relative;
  width: 310px;
  height: 310px;

  transition: ease 0.2s;

  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 9px 25px 0px #000000b6;
      box-shadow: 0px 6px 10px 0px #00000067;
    }
  }
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: none;
  border: 0;

  cursor: pointer;
  @media (any-hover: hover) {
    &:hover {
      .Icon {
        fill: $favorite-color;
      }
    }
  }
}

.Icon {
  font-size: 42px;
  color: $favorite-color;
  fill: transparent;
  stroke-width: 2px;

  padding: 0 2px;

  transition: all 0.2s ease;

  &.Liked {
    fill: $favorite-color;
  }
}
