/* .image-wrapper{
  background-color: aqua;
} */
.fade-out {
  opacity: 0;
  visibility: hidden;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.5s;
}

.loading-text {
  color: white;
  font-size: 24px;
}

* {
  padding: 0;
  margin: 0;
}

/* ------------НАВГАЦИЯ---------------- */
.navbar {
  display: flex;
  background-color: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  padding-left: 4.6%;
  height: 64px;
}

.nav-list {
  display: flex;
  height: 64px;
}

.nav-list a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 21px;
  font: sans;
}

.nav-list a:hover {
  background-color: #1e88e5;
  color: #fff;
}

.nav-btn {
  display: none;
}




/* ------------------ГЛАВНЫЙ КОНТЕНТ-------------------- */
.maincontent {
  padding-top: 0%;
  padding-left: 4.6%;
  padding-right: 4.6%;
}

.col {
  padding: 1%;
}

.col-lg {
  height: 200px;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
  flex-basis: 15%;
}

.imgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}




/* Images crop and center to col-lg box up to 1000% centering (if 100% if it's 3x the size it doesn't fully center)Idk man why? projectors and stuff? */
.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  height: 100%;
  min-width: 100%;
}

div {
  border: 2px black;
}

.heart,
.like {
  /* background: url(../img/favorite.svg) no-repeat; */
  padding: 0;
  margin: 0;
  position: relative;
  top: 80%;
  left: 85%;
  z-index: 2;
  height: 80%;
  width: 80%;
  opacity: 0;
}

.imgrid .col-lg:hover .heart:hover.like-no {
  background: url(../img/favorite_fill.svg) no-repeat;
  opacity: 1;
}

.heart.like-yes,
.col-lg:hover .heart.like-yes {
  background: url(../img/favorite_fill.svg) no-repeat;
  opacity: 1;
}

.col-lg:hover .heart.like-no {
  background: url(../img/favorite.svg) no-repeat;
  opacity: 1;
}

.col-lg:hover {
  transform: scale(1.1);
  transition: 1s;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24);
}

.col-lg:hover .heart {
  background: url(../img/favorite.svg) no-repeat;
  opacity: 1;
}

.col-lg:hover .like {
  background: url(../img/favorite_fill.svg) no-repeat;
  opacity: 1;
}